<div *ngFor="let statistique of statistiqueService.statistiques">
    <app-statistique [statistique]="statistique"></app-statistique>
    <button (click)="removeStatistique(statistique)">Effacer</button>
</div>