<form #formAjout="ngForm" (ngSubmit)="ajouterStatistique()">
    <div>
        <label for="inputTitle">Nom statistique</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Title" name="title" [(ngModel)]="title" required>
    </div>
    <div>
        <label for="inputValue">Valeur statistique</label>
        <input type="text" class="form-control" id="inputValue" placeholder="Value" name="value" [(ngModel)]="value" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!formAjout.valid">Submit</button>
</form>
